<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Inflectra.SpiraTest.PlugIns.Jira4DataSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISoapService"/>
                <binding name="BasicHttpBinding_ISoapService1">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Spira/Services/v5_0/SoapService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapService" contract="SpiraSoapService.ISoapService" name="BasicHttpBinding_ISoapService"/>
            <endpoint address="https://tardis.corp.inflectra.com/Spira/Services/v5_0/SoapService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapService1" contract="SpiraSoapService.ISoapService" name="BasicHttpBinding_ISoapService1"/>
        </client>
    </system.serviceModel>
</configuration>
